html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #010101;
  overflow: hidden;
}

#matrix {
  opacity: .15;
}

#banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: url(../assets/transparent-banner.png) center 20vh/auto 30vh no-repeat, url(../assets/screen-bars.png) top left/cover;
}

#comingSoon {
  position: absolute;
  top: 53vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5vh;
  width: fit-content;
  font-family: "Product Sans", sans-serif;
  color: #ccc;
}

.server {
  position: absolute;
  top: 61vh;
  left: 50%;
  transform: translateX(-50%);
  color: #aaa;
  font-size: 2vh;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

.server:hover {
  letter-spacing: .2vh;
}

@media all and (orientation:portrait) {
  #banner {
    background: url(../assets/transparent-banner.png) center 30vw/auto 30vw no-repeat, url(../assets/screen-bars.png) top left/cover;
  }

  #comingSoon {
    font-size: 5vw;
  }
}